<%- include('../includes/header')  %> 
    <div class="container">
        <%- include('../includes/navbar')  %> 
        <%- include('../includes/message')  %> 
        
    </div>
<%- include('../includes/footer')  %> 